#cloud-config
repo_update: true
repo_upgrade: all

packages:
  - libmysqlclient-dev
  - nodejs
  - nodejs-legacy
  - git
  - nginx
  - npm
  - pwgen

write_files:
 - encoding: b64
   content: ${userdata_index}
   path: /tmp/index.html
   permissions: '0664'

 - encoding: b64
   content: ${frontent_nginx_conf}
   path: /tmp/frontent.conf

 - encoding: b64
   content: ${frontent_nginx_conf}
   path: /tmp/backend.conf

 - encoding: b64
   content: ${backend_tmp_app}
   path: /tmp/app.js

 - encoding: b64
   content: ${backend_tmp_app_package}
   path: /tmp/package.json

runcmd:
 - npm install pm2 -g
 - mkdir /srv/frontent
 - mkdir /srv/backend
 - mv /tmp/app.js /srv/backend/app.js
 - mv /tmp/package.json /srv/backend/package.json
 - mv /tmp/index.html /srv/frontent/index.html
 - mv /tmp/frontent.conf /etc/nginx/sites-available/
 - mv /tmp/backend.conf /etc/nginx/sites-available/
 - sudo adduser deployuser
 - chown -R deployuser /srv/frontent
 - chown -R deployuser /srv/backend
 - rm /etc/nginx/sites-enabled/default
 - ln -s /etc/nginx/sites-available/frontent.conf /etc/nginx/sites-enabled/frontent.conf
 - ln -s /etc/nginx/sites-available/backend.conf /etc/nginx/sites-enabled/backend.conf
 - service nginx reload
